<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @person.name %>,</h1>
    <p>
      <span id="results"></span>
    </p>

    <script>
    var carpayment = <%= @person.downpayment %> / 1.5 * 10;
    var carpaymentmax = <%= @person.income %> / 3;
    if (carpayment > carpaymentmax) {
      document.getElementById("results").innerHTML = "We'll Get Back to Youf"
    } else {
      document.getElementById("results").innerHTML = "You're Pre-Approved!\nWe look forward to seeing you soon"
    }
    </script>

  </body>
</html>
