<p id="notice"><%= notice %></p>

<h1>People</h1>

<table id="table1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Submitted On</th>
      <th>Approval</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.phone %></td>
        <td><%= person.email %></td>
        <td><%= person.created_at.strftime("%b. %d, %Y") %></td>
        <td><%= approval_statement(person.jobs.last.approved?(@fe.down_payment_percentage, @fe.max_payment_amount_limit, @fe.months, @fe.interest)) if person.jobs.present? %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit Form', edit_form_editable_path(@fe) %>
