<p>
  Name: <%= @person.name %>
</p>

<p>
  Phone: <%= @person.phone %>
</p>

<p>
  Email: <%= @person.email %>
</p>

<p>
  Address: <%= @person.address %>
</p>

<p>
  Time At Address: <%= @person.time_at_address %>
</p>


<%= render 'jobs/table', jobs: @person.jobs %>

<%= link_to 'New', new_person_job_path(person_id: @person.id) %>

<%= link_to 'Back', people_path %>
