<title>Preapproval Results</title>

<h1>Company Name</h1><br>

<h2>Dear <%= @job.person.name %>,</h2>

Congratulations on your preapproval!

<p>
  This preapproval amount is based on a review of the monthly income and asset information you provided, which is subject to a formal underwriting review.
</p>

Loan Terms:
<ul>
  <li>Purchase Price: $<%= number_with_delimiter(@job.car_price.round(0), :delimiter => ",") %></li>
  <li>Down Payment: $<%= number_with_delimiter(@job.down_payment.round(0), :delimiter => ",") %></li>
  <li>Loan Amount: $<%= number_with_delimiter(@job.average_payment.round(0), :delimiter => ",") %></li>
</ul>
<p>
  At Company Name, we're commited to making your car purchase experience as smooth as possible. If you have any questions regarding this preapproval, please don't hesitate to give me a call at (666) 666-6666.
</p>

<p>
  I look forward to helping you finance your new car.
</p>

<p>
  Sincerely,
</p>

<p>
  Employee Name<br>
  Employee Position
</p><br>

<p>
Tel: (666) 666-6666<br>
Fax: (666) 666-6666<br>
Email: employeename@company.com
</p>
