<%= form_with(model: @job, url: person_jobs_path) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :job %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :months_at %>
    <%= form.select :months_at, ((0..500).map) %>Months
  </div>

  <div class="field">
    <%= form.label :monthly_income %>
    <%= form.text_field :monthly_income %>
  </div>

  <div class="field">
    <%= form.label :down_payment %>
    <%= form.text_field :down_payment %>
  </div>

  <div class="actions">
    <%= form.submit "Submit"%>
  </div>

<% end %>
