<table id="table1">
  <thead>
    <tr>
      <th>Job</th>
      <th>Months At</th>
      <th>Monthly Income</th>
      <th>Car Downpayment</th>
      <th>Approval</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.months_at %></td>
        <td>$<%= number_with_delimiter(job.monthly_income, :delimiter => ",") %>/m</td>
        <td>$<%= number_with_delimiter(job.down_payment, :delimiter => ",") %></td>
        <td><%= approval_statement(job.approved?(@fe.down_payment_percentage, @fe.max_payment_amount_limit, @fe.months, @fe.interest)) if job.present? %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
