<%= form_with(model: form_editable, local: true) do |form| %>
  <% if form_editable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form_editable.errors.count, "error") %> prohibited this form_editable from being saved:</h2>

      <ul>
      <% form_editable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :down_payment_percentage %>
    <%= form.number_field :down_payment_percentage %>
  </div>

  <div class="field">
    <%= form.label :max_payment_amount_limit %>
    <%= form.number_field :max_payment_amount_limit %>
  </div>

  <div class="field">
    <%= form.label :months %>
    <%= form.number_field :months %>
  </div>

  <div class="field">
    <%= form.label :interest %>
    <%= form.number_field :interest %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
