<p id="notice"><%= notice %></p>

<h1>Form Editables</h1>

<table>
  <thead>
    <tr>
      <th>Down payment percentage</th>
      <th>Max payment amount limit</th>
      <th>Months</th>
      <th>Interest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_editables.each do |form_editable| %>
      <tr>
        <td><%= form_editable.down_payment_percentage %></td>
        <td><%= form_editable.max_payment_amount_limit %></td>
        <td><%= form_editable.months %></td>
        <td><%= form_editable.interest %></td>
        <td><%= link_to 'Show', form_editable %></td>
        <td><%= link_to 'Edit', edit_form_editable_path(form_editable) %></td>
        <td><%= link_to 'Destroy', form_editable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form Editable', new_form_editable_path %>
