<p id="notice"><%= notice %></p>

<p>
  <strong>Down payment percentage:</strong>
  <%= @form_editable.down_payment_percentage %>
</p>

<p>
  <strong>Max payment amount limit:</strong>
  <%= @form_editable.max_payment_amount_limit %>
</p>

<p>
  <strong>Months:</strong>
  <%= @form_editable.months %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @form_editable.interest %>
</p>

<%= link_to 'Edit', edit_form_editable_path(@form_editable) %> |
<%= link_to 'Back', form_editables_path %>
