<!DOCTYPE html>
<html>
<head>
<title>Preapproval Results</title>
  <%= wicked_pdf_stylesheet_link_tag "application" -%>
</head>
<body>

  <div class='container'>
    <%= yield %>
  </div>

</body>

<br><%= link_to 'Create PDF document', person_job_path(@job, :format => :pdf) %>

</html>
